<section class="h-full min-h-[226px] flex gap-4">
    
    <button class="h-[88%] min-w-fit disabled:opacity-30" [disabled]="carousel.isBackwardNavDisabled()" pRipple (click)="carousel.navBackward($event)">
        <app-slider-button [orientation]="'LEFT'"></app-slider-button>
    </button>

    <p-carousel 
        #carousel 
        [showNavigators]="false" 
        [value]="pageIndexes" 
        [numVisible]="1" 
        [numScroll]="1" 
        [circular]="false"
        class="flex-1">
        
        <ng-template let-pageIndex pTemplate="item">
            <div class="grid grid-cols-2 gap-4 h-full">
                @for (project of getProjectsForPage(pageIndex); track project) {
                    <div class="col-span-1">
                        <app-project-card 
                            (onSelection)="emitSelection($event)" 
                            [projectData]="project"
                            [isSelected]="isProjectSelected(project)">
                        </app-project-card>
                    </div>
                }
            </div>
        </ng-template>
    </p-carousel>

    <button class="h-[88%] min-w-fit disabled:opacity-30" [disabled]="carousel.isForwardNavDisabled()" pRipple (click)="carousel.navForward($event)">
        <app-slider-button [orientation]="'RIGHT'"></app-slider-button>
    </button>
</section>