<div class="w-fit">
    <div class="max-w-md w-60 bg-white rounded-lg  p-4">
        <div class="flex items-center mb-1">
            <div class="flex items-center mr-3">
                <span class="text-xl font-bold">&lt;</span>
                <span class="text-xl font-bold">&gt;</span>
            </div>
            <h1 class="text-base font-semibold text-gray-800">MonBarra</h1>
        </div>
        <p class="text-gray-500 text-sm leading-relaxed">
            Une application web facilitant la mise en relation entre chercheurs d'emploi et employeurs.
        </p>
    </div>
</div>